<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="suite1">
	<test verbose="2" name="test1">
		<classes>

			<!-- URL Verification and basic login functionality -->

			<class name="testCases.UrlVerification" />
			<class name="testCases.LoginVerification" />
			<class name="testCases.TeleCallerEntry" />
			<class name="testCases.TeleCallerEntryAppointment" />
			<class name="testCases.TeleCallerEntryAppointmentCallTime" />
			<class name="testCases.TeleCallerEntryNotIntrested" />


		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->